.container {
  position: relative;
  color: white;
}

.card-backdrop {
  background-color: #222;
}

.icon-button {
  padding: 10px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-style: solid;
  border-color: #baab8f;
  color: #baab8f;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  right: 0%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  background: black;
  cursor: pointer;
  transition: box-shadow 0.8s 0s, color 0.8s 0s;
  box-shadow: inset 0 0 0 0 #baab8f;
}
.icon-button:hover {
  box-shadow: inset 0 0 0 150px #baab8f;
  color: black;
  cursor: pointer;
  opacity: 1;
}

.card-container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  backdrop-filter: brightness(25%) blur(2px);

  position: relative;
  white-space: nowrap;
}

.content-backdrop {
  width: "100%";
  height: "300px";
  background-position: "center";
  background-repeat: "no-repeat";
  background-size: "cover";
  position: "relative";
}

.card {
  flex-shrink: 0;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
  max-width: 70%;
  height: 300px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: inset 0px 0px 40px 10px rgba(0,0,0,0.6);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #333;
  transition: 600ms;

}
.card:hover {
  box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, 0.6), 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  filter: brightness(110%);
  transition: 200ms;
  margin-top: 12px;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;

}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  z-index: 1;
}
.container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  background-size: initial;
  background-position: center top;
  overflow: scroll; /* Scrollbar are always visible */
}

.container h2 {
  font-family: unit-gothic-721, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  padding-bottom: 10px;
  letter-spacing: 0.07em;
  padding-top: 30px;
  text-transform: uppercase;
  line-height: 40px;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  position: absolute;

  transform: translate(-50%, -50%);
}
.container button {
  padding: 10px;
  border-style: solid;
  border-color: #baab8f;
  color: #baab8f;
  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, black 50%, #baab8f 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
  font-family: unit-gothic-720, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
}
.container button:hover {
  background-position: left;
  color: black;
  cursor: pointer;
}
.modal-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  overflow-x: scroll;
  overflow-y: hidden;
  width: auto;
  white-space: nowrap;
}
.modal-content {
  margin: auto;
  padding: 20px;
  max-width: 80%;
  max-height: 90%;
  margin-left: 10px;
}
